.ui.container a.item {
  font-size: 16px;
}

.cursor {
  cursor: pointer;
}

.ui.progress {
  position: relative !important;
  display: block !important;
  max-width: 100% !important;
  border: none !important;
  margin: 1em 0 2.5em !important;
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important;
  border-radius: 0.28571429rem !important;
  height: auto;
  overflow: inherit;
}
.ui.progress .bar > .progress {
  color: black !important;
  background-color: transparent !important;
}
